#map-container{
    height: 100%;
    width: 100%;
}

.map-p-line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }

.map-p-line-clamp p {
    overflow: hidden;

}