.results{
  padding-top: 50px;
  opacity: var(--high-emphasis-text);
}

.results p{

    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
}
.container {
  display: flex;
}
.container > div {
  flex: 1; /*grow*/
}

div.hr{
  color: #f00;
  background-color: #f00;
  height: 5px;

}

.support-p-line-clamp p {
    overflow: hidden;

}

.support-p-line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }

  
.cr {
    margin: 0 auto;
    text-decoration: underline;  
    cursor: pointer;
  }

.support-padding-top {
    padding-top: 50px;
}