
.grid {
    display: flex;
    flex-wrap: wrap;

    background: -webkit-linear-gradient(305deg, #1C1C1C 10%, #494949 360%); 
    background: -moz-linear-gradient(305deg, #1C1C1C 10%, #494949 360%); 
    background: linear-gradient(305deg, #1C1C1C 10%, #494949 360%);

    border-radius: 10px;

    width: -webkit-fill-available;
    height: auto;

    margin: 30px 35px 50px 35px;

    border: 4.5px solid rgba(255, 255, 255, 0.45);

    max-width: 1250px;
}

.grid-box {
    flex-basis: 25%;
    aspect-ratio: 1/0.9;
    max-height: 225px;
    min-height: auto;

}

.icon {
    height: 55px;
    width: 55px;
    background: var(--flyerfly-green);
    border-radius: 5px; 
    
    box-shadow: rgb(0 0 0 / 50%) 0px 0px 8px;

    display: flex;
    justify-content: center;
    align-items: center;

}


@media screen and (max-width: 975px) {
    .grid-box {
        flex-basis: 50%;
        aspect-ratio: 1/0.70;
    }

    .grid {
        margin: 30px 17.5% 0px 17.5%;
    }
    
} 

@media screen and (max-width: 775px) {
.grid {
    margin: 30px 5% 0px 5%;
   
}

.grid-box {
    max-height: 175px;
    min-height: 150px;
}

} 

